  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active"><a class="nav-link" href="#">Email</a></li>
    </ul>
  </nav>

  <div class="row d-flex justify-content-around"">
    <div class="col-sm">
      <% @emails.each do |email| %>
      <ul>
      <% if email.read == true %> 
        <li id="object_<%= email.id %>" class="read" ><%= link_to email.object, email_path(email), remote: true %></li>
      <% else %>
        <li id="object_<%= email.id %>" class="ur" ><%= link_to email.object, email_path(email), remote: true %></li>
      <% end %>
      </ul>
      <% end %>
    </div>

    <div class="col-sm">
      <ul>
        <% @emails.each do |email| %> 
          <div id="mail_<%= email.id %>" class="emailcontent" style="display: none;" >
            <li><b><%= email.object %></b></li>
            <li><%= email.body %></li>
            <%= link_to email, remote: true, method: :delete, class: 'delete_email' , data: { confirm: 'Are you sure?' } do %>
              <li><button type="button" class="btn btn-danger">Delete</button></li>
            <% end %>
          </div>
      <% end %>
      </ul>
    </div>
  </div>